<div class="search-container">
    <h2>Movie Search!</h2>
    <form [formGroup]="rForm" (ngSubmit)="searchSubmit(rForm.value)">
        <div class="form-container">
            <input type="text" formControlName="title" placeholder="Movie Title">
            <div class="alert" *ngIf="!rForm.controls['title'].valid && rForm.controls['title'].touched">
                {{ titleAlert }}
            </div>

            <input type="submit" value="Search Film" [disabled]="!rForm.valid">
        </div>
    </form>
</div>


